.wrapper {
  height: var(--height-footer);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: var(--theme-bg-app);
  overflow: hidden;
  margin: var(--margin-default);
  gap: var(--padding-gap);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--padding-gap);
  padding: var(--padding-default);
  background: var(--theme-bg-card);
  box-sizing: border-box;
  border-radius: var(--radius-md);
  flex: 1;
  flex-shrink: 0;
}

.table-wrap {
  flex: 9;
  min-height: 0;
  overflow: auto;
  box-sizing: border-box;
  border-radius: var(--radius-md);
  background: var(--theme-bg-card);
  padding: var(--padding-default);
}
