.wrapper {
  width: var(--width-sidebar);
  min-width: var(--width-sidebar);
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--theme-bg-app);
  overflow: hidden;
  gap: var(--padding-gap);
  margin-right: var(--margin-default);
}

.scroll-area {
  flex: 9;
  border-radius: var(--radius-md);
  box-sizing: border-box;
  min-height: 0;
  overflow: hidden auto;
  padding: var(--padding-default);
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
  background: var(--theme-bg-card);
}

.footer {
  flex: 1;
  background: var(--theme-bg-card);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--padding-default);
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
  justify-content: center
}

.sub-run-query{
  color: var(--color-secondary-blue6);
  align-self: center;
  text-align: center;
}