.wrapper {
  display: flex;
  gap: var(--padding-gap);
}

.wrapper[data-direction='column'] {
  flex-direction: column;
}

.wrapper[data-direction='row'] {
  flex-direction: row;
  flex-wrap: wrap;
}
