.wrapper {
  display: flex;
  flex: 1;
  min-width: 0;

  &[data-direction='column'] {
    flex-direction: column;
    gap: var(--padding-gap);
  }

  &[data-direction='row'] {
    flex-direction: row;
    align-items: center;
    gap: var(--padding-gap);

    .label {
      flex: 3;
      padding-left: var(--padding-default);
    }

    .input {
      flex: 1 1 0px;
    }
  }
}

.label {
  color: var(--theme-text-secondary);
  flex-shrink: 0;
  white-space: nowrap;
}

.input {
  font-family: var(--font-family-tech);
  width: 100%;
  min-width: 0;
  padding: var(--padding-default-half) var(--padding-default);
  border: var(--border-width-sm) solid var(--theme-border);
  border-radius: var(--radius-sm);
  background: var(--theme-bg-button);
  color: var(--theme-text-primary);
  transition: border-color var(--transition-duration) var(--transition-easing);
  cursor: pointer;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 0.7;
    cursor: pointer;
  }
}

.readonly {
  background: var(--theme-bg-button);
  color: var(--theme-text-primary);
  cursor: default;
  text-align: center;

  &:focus {
    outline: none;
    border-color: var(--theme-border);
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}
